<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwConfigExceptions="true">

    <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/TestResults/Logs/test-run-${shortdate}.log"
                layout="[${longdate}]|${level}|${logger}| - ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />
        <target name="logconsole" xsi:type="Console" layout="[${longdate}]|${level}|${logger}| - ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>